<div style="text-align:center">
	<h2 class="White_Test">Sign up</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>

	  	<div class="White_Test">
		<%= f.label :email %><br />
		<%= f.email_field :email, :autofocus => true %>
		</div>

		<br>

	  	<div class="White_Test">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
		</div>

		<br>

		<div class="White_Test">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
		</div>

		<br>

		<div class="White_Test">
		<%= f.submit "Sign up" %>
		</div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
