<% if flash[:notice] %>
  <table class="White_Test" align="center" width="850px" style="text-align:center; font-size:16pt; padding-top:15px">
    <tr><td><%= flash[:notice] %></td></tr>
  </table>
<% end %>

<table class="White_Test" align="center" width="850px" style="text-align:left"><tr><td>&nbsp;</td></tr></table>

<table class="White_Test" align="center" width="850px" style="text-align:left">
  <tr>
    <td>
    <%= link_to "New Folder", :controller => "folders", :action => "new", :client_id => params[:client_id] %>
    </td>
  </tr>
</table>

<table class="White_Test" align="center" width="850px">
  <tr>
    <td colspan=2>
    <h1 class="White_Test">Folders</h1>
    </td>
  </tr>

  <tr>
    <% 
    @loopCount = 0
    for folder in @folder
    @loopCount = @loopCount + 1 
    %>
      <td class="White_Test" style="text-align:center">
        <%= link_to image_tag("black_folder_48.png"), :controller => "documents", :action => "index", :folder_id => folder.id %>
	<br>
        <%= folder.name %>
        <br>
        <%= link_to "edit", :controller => "folders", :action => "edit", :id => folder.id %>
	|
	<%= link_to "delete", folder, :confirm => "Are you sure you wanted to delete this folder?", :method => :delete  %>
      </td>
  
      <% if @loopCount % 5 == 0 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>
