<table class="White_Test" align="center" width="850px">
  <tr>
    <td style="font-size:16pt; color:#FFF; font-weight:bold; padding-top:15px" colspan=2>
    Folders
    </td>
  </tr>
  <tr>
    <td>
    <%= link_to "New Folder", :controller => "folders", :action => "new", :client_id => params[:client_id] %>
    </td>
  </tr>

  <tr>
    <% 
    @loopCount = 0
    for folder in @folder
    @loopCount = @loopCount + 1 
    %>
      <td class="White_Test" style="text-align:center">
        <%= link_to image_tag("black_folder_48.png"), :controller => "documents", :action => "index", :folder_id => folder.id %>
	<br>
        <%= folder.name %>
        <br>
        <%= link_to "edit", :controller => "folders", :action => "edit", :id => folder.id, :client_id => params[:client_id] %>
	|
	<%= link_to "delete", folder, :confirm => "Are you sure you wanted to delete this folder?", :method => :delete  %>
      </td>
  
      <% if @loopCount % 5 == 0 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>
