<table class="White_Test" align="center" width="850px">
  <tr><td colspan=2 class="White_Test" style="font-size:20pt; padding:20px 0px 0px 0px; font-weight:bold">Clients</td></tr>
  <tr><td style="font-size:10pt">Total: <%= @total %></td></tr>
  <tr><td>&nbsp;</td></tr>

  <tr>
    <td colspan=3 style="text-align:right; font-size:9pt">
      <% if params[:page].to_i > 1 %>
        <%= link_to '<< ', :controller => "clients", :action => "index", :page => @page.to_i - 1, :order => params[:order], :perPage => params[:perPage] %> &nbsp;
      <% end %>
      Page <%= @page %> of <%= @totalPages %>
      <% if @totalPages > 1 and params[:page].to_i != @totalPages and params[:page].to_i <= @totalPages %>
        &nbsp; <%= link_to ' >>', :controller => "clients", :action => "index", :page => @page.to_i + 1 %>
      <% end %>
    </td>
  </tr>

  <tr><td style="font-size:1pt">&nbsp;</td></tr>

  <tr>
    <td>
      <% if params[:order] == 'lastname ASC' %>
       <b><%= link_to 'Name', :controller => "clients", :action => "index", :page => params[:page], :order => 'lastname DESC', :perPage => params[:perPage] %></b>
      <% else %>
       <b><%= link_to 'Name', :controller => "clients", :action => "index", :page => params[:page], :order => 'lastname ASC', :perPage => params[:perPage] %></b>
      <% end %>
    </td>
    <td>
      <% if params[:order] == 'dob ASC' %>
       <b><%= link_to 'Date-of-Birth', :controller => "clients", :action => "index", :page => params[:page], :order => 'dob DESC', :perPage => params[:perPage] %></b>
      <% else %>
       <b><%= link_to 'Date-of-Birth', :controller => "clients", :action => "index", :page => params[:page], :order => 'dob ASC', :perPage => params[:perPage] %></b>
      <% end %>
    </td>
    <td width="105px"><b>Action</b></td>
  </tr>

  <% for client in @clients %>
    <tr>
      <td><%= link_to client.firstname+' '+client.lastname, :controller => "clients", :action => "show", :id => client.id %></td>
      <td><%= client.dob %></td>
      <td>
        <%= link_to "edit", :controller => "clients", :action => "edit", :id => client.id %>
	|
	<%= link_to "delete", client, :confirm => "Are you sure you wanted to delete this client?", :controller => "clients", :action => "destroy", :id => client.id, :method => :delete  %>
    </tr>
  <% end %>
</table>
