<% if flash[:notice] %>
  <table class="White_Test" align="center" width="850px" style="text-align:center; font-size:16pt; padding-top:15px">
    <tr><td><%= flash[:notice] %></td></tr>
  </table>
<% end %>

<table class="White_Test" align="center" width="850px">
  <tr>
    <td colspan=2>
    <h1 class="White_Test">Clients</h1>
    </td>
  </tr>
  <tr>
    <td><b>Name</b></td>
    <td><b>Date-of-Birth</b></td>
    <td><b>Action</b></td>
  </tr>

  <% for client in @clients %>
    <tr>
      <td><%= link_to client.firstname+' '+client.lastname, :controller => "clients", :action => "show", :id => client.id %></td>
      <td><%= client.dob %></td>
      <td>
        <%= link_to "edit", :controller => "clients", :action => "edit", :id => client.id %>
	|
	<%= link_to "delete", client, :confirm => "Are you sure you wanted to delete this client?", :controller => "clients", :action => "destroy", :id => client.id, :method => :delete  %>
    </tr>
  <% end %>
</table>
