<div style="text-align:center; width:100%">

<h1 class="White_Test">Create Client</h1>

<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="errorExplanation" class="White_Test">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <table align="center">
        <% @client.errors.full_messages.each do |msg| %>
          <tr><td><%= msg %></td></tr>
        <% end %>
        <tr><td>&nbsp;</td></tr>
      </table>
    </div>
  <% end %>

  <table class="White_Test" align="center" style="text-align:left">
    <tr><td><%= f.label :firstname, 'First Name' %></td></tr>
    <tr><td><%= f.text_field :firstname %></td></tr>

    <tr><td>&nbsp;</td></tr>

    <tr><td><%= f.label :lastname, 'Last Name' %></td></tr>
    <tr><td><%= f.text_field :lastname %></td></tr>

    <tr><td>&nbsp;</td></tr>

    <tr><td><%= f.label :dob, 'Date-of-Birth' %></td></tr>
    <tr><td><%= f.text_field :dob %></td></tr>

    <tr><td>&nbsp;</td></tr>

    <tr><td style="text-align:center"><%= f.submit %></td></tr>
  </table>
<% end %>
		
</div>
