<div style="text-align:center; width:100%">

<h1 class="White_Test">Create Client</h1>

<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="errorExplanation" class="White_Test">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="White_Test" align="center" style="text-align:left">
    <tr>
      <td>
        <%= f.label :firstname %><br>
        <%= f.text_field :firstname %>
      </td>
    </tr>

    <tr><td>&nbsp;</td></tr>

    <tr>
      <td>
        <%= f.label :lastname %><br>
        <%= f.text_field :lastname %>
      </td>
    </tr>

    <tr><td>&nbsp;</td></tr>

    <tr>
      <td>
        <%= f.label :dob, 'Date-of-Birth' %><br>
        <%= f.text_field :dob %>
      </td>
    </tr>

    <tr><td>&nbsp;</td></tr>

    <tr>
      <td style="text-align:center">
        <%= f.submit %>
      </td>
    </tr>
  </table>
<% end %>
		
</div>
